<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootsrap 4 CDN-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">

<title>Lista de Eleitores</title>
</head>

<style>
body {
	background: #c8e4f4;
}

.fa-arrow-left:before {
	content: "\f060";
	font-size: 20px;
	color: black;
}

.ele-table {
	background: white;
	margin: 20px;
}
</style>

<body>
	<div class="ele-table">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">Id Eleitor</th>
					<th scope="col">Nome Eleitor</th>
					<th scope="col">Bloco</th>
					<th scope="col">Nº Apartamento</th>
					<th scope="col">Telefone</th>
					<th scope="col">Editar</th>
					<th scope="col">Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ele: ${eleitores}">
					<td th:text="${ele.idEleitor}"></td>
					<td th:text="${ele.nomeEleitor}"></td>
					<td th:text="${ele.bloco}"></td>
					<td th:text="${ele.numeroApt}"></td>
					<td th:text="${ele.telefone}"></td>
					<td><a th:href="|editarEleitor?idEleitor=${ele.idEleitor}|"><i
							class="fas fa-user-edit"></i></a>
					<td><a th:href="|excluirEleitor?idEleitor=${ele.idEleitor}|"><i
							class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="/usuario/menu"><i class="fas fa-arrow-left"></i></a>
		</div>
	</div>



</body>
</html>